/* Default Branding Style */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Instrument Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    margin: 0;
    padding: 0;
    background-color: #e3e7f2;
    color: #0d0d0d;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-sizing: border-box;
    min-height: 100vh;
}

/* Default Branding Style */
/* ----- Skip Links ----- */
.skip-links-div {
    position: absolute;
    top: -9999px;
}

/* Default Branding Style */
/* ------- Header ------- */
header {
    background-color: #fdfdfd;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    height: 70px;
    position: sticky;
    top: 0;
    z-index: 99;
    width: 100%;
    box-sizing: border-box;
}

header .header-col {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
}

header .header-col-left,
header .header-col-right {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
}

header .header-col-right {
    justify-content: right;
}

.header-col-left {
    width: 75%;
    gap: 5%;
    justify-content: left;
}


/* Default Branding Style */
/* ------- Header ------- */
/* -------- Logo -------- */
header .logo {
    width: 100%;
}

header .logo img {
    height: 35px;
    width: auto;
}

/* Default Branding Style */
/* ------- Header ------- */
/* --------- Nav -------- */
abbr {
    text-decoration: none;
    border-bottom: none;
}

.mob-nav,
#mobList {
    display: none;
}

nav {
    height: 100%;
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

nav ul, 
nav li {
    display: flex;
    height: 100%;
    box-sizing: border-box;
}

nav ul li a {
    text-decoration: none;
    color: #0b1c33; 
    transition: color 0.3s;
    height: 100%;
    margin: 5px 0 -5px;
    padding: 5px 1rem 5px;
    transition: color 0.3s, box-shadow 0.3s;
    box-shadow: inset 0 0 0 0 transparent; 
}

nav ul li a.nav-active {
    box-shadow: inset 0 -5px 0 0 #1a1a1a; 
    transition: box-shadow 0.3s ease-in-out;
}

nav ul li a:hover {
    color: #00214d; 
    box-shadow: inset 0 -5px 0 0 #0056b3; 
    transition: box-shadow 0.3s ease-in-out;
}

/* Default Branding Style */
/* ------- Header ------- */
/* --- Notifications ---- */
#btnProfile, 
#btnNotification {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.notification, .profile {
    position: relative;
}

.notif-button-container svg {
    margin-top: 5px;
}

.notif-button-container svg:hover {
    color: #00214d;
    transition: color 0.3s ease-in-out;
}

.notif-count {
    background-color: #B22222;
    color: #fdfdfd;
    font-size: 12px;
    border-radius: 50%;
    padding: 2px 6px;
    position: relative;
    top: -20px;
    right: 18px;
    cursor: pointer;
}

.notif-dropdown-container {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out;

    position: absolute;
    top: 100%;
    right: 0;
    margin: 0px 10px;
    width: 350px;
    z-index: 9;
    background-color: #fdfdfd;
    box-shadow: 1px 5px 12px -2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.notif-label {
    width: 100%;
    box-sizing: border-box;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    font-weight: 600;
}

.notif-title {
    text-transform: uppercase;
    width: 100%;
    padding: 15px;
    display: block;
    box-sizing: border-box;
    color: #0b1c33;
    background-color: #fdfdfd;
    cursor: default;
}

.notif-desc p {
    padding: 5px;
    background-color: #e3e7f2;
    color: #1a1a1a;
    cursor: default;
}

.notif-list {
    min-height: 100px;
    padding-bottom: 10px;
}

.notif-list::-webkit-scrollbar {
    width: 10px;
}

.notif-list::-webkit-scrollbar-track {
    background: #e3e7f2;
}

.notif-list::-webkit-scrollbar-thumb,
.notif-list::-webkit-scrollbar-thumb:hover {
    background-color: #007bff;
}

.notif-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.2s ease-in-out;
}

.notif-list a,
.notif-list span {
    display: block;
    padding: 15px 20px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
    color: #00214d;
}

.notif-item:hover {
    background-color: #eee;
    color: #fdfdfd;
    transition: 0.2s ease-in-out;
}

.notif-button-close {
    width: 27px;
    height: 27px;
    padding: 3px;
    margin: 3px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    color: #666;
    border-radius: 50%;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.notif-button-close:hover {
    background-color: #007bff;
    color: #fdfdfd;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.profile,
.notification {
    margin-left: 20px;
}

.notif-dropdown-container.active,
.profile-dropdown.active {
    max-height: 300px;
    opacity: 1;
    transition: max-height 0.3s ease-in-out;
}

/* Default Branding Style */
/* ------- Header ------- */
/* ---- User Profile ---- */
.user-container button {
    display: flex;
    align-items: center;
}

.user-avatar {
    display: flex;
    justify-content: center;
}

.user-avatar img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-details {
    text-align: left;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.user-details .user-fullname,
.user-details .user-role {
    color: #0b1c33;
}

.user-details .user-role {
    font-weight: 700;
    text-transform: uppercase;
}

.profile {
    max-width: 250px;
}

.profile-dropdown {
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease-in-out, opacity 0.5s ease-in-out;

    position: absolute;
    top: 100%;
    right: 0;
    margin: 0;
    width: 250px;
    z-index: 9;
    background-color: #fdfdfd;
    box-shadow: 0 5px 13px -2px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
}

.profile-dropdown ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.profile-dropdown ul li {
    width: 100%;
}

.profile-dropdown ul li a,
.profile-dropdown ul li a:visited {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    font-size: 18px;
    color: inherit;
    text-decoration: none;
    box-sizing: border-box;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.profile-dropdown ul li a:hover {
    background-color: #eee;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

/* Default Branding Style */
/* -------- Main -------- */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 100%;
}

.container {
    width: 1200px;
    padding: 0 20px 30px;
    margin: 0 auto;
}

.page-title {
    margin: 30px 0;
}

h1, h2 { color: #0b1c33; }

h1 { font-size: 24px;}

h2 { font-size: 21px; }

p, span { font-size: 18px }

h1, h2, p, span, table { cursor: default; }

.required { color:#B22222; }

/* Default Branding Style */
/* ------ Footer -------- */
footer {
    position: relative;
    padding: 10px;
    text-align: center;
    background-color: #0b1c33;
    color: #fdfdfd;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    font-weight: normal;
    box-sizing: border-box;
}

.required {
    color: #991111;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* --- Dashboard Page --- */
/* -- Dashboard Buttons - */
.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 15px 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div-container {
    width: 100%;
    border: none;
}

.dashboard .div-container {
    height: 13em;
    display: flex;
}

.div-container,
.dashboard .div-container button {
    background-color: #fdfdfd;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    border: none;
}

.dashboard .div-container button {
    width: 100%;
    height: 100%;
    color:#0b1c33;
    cursor: pointer;
    text-align: center;
    font-size: 21px;
    font-weight: 600;
    text-transform: uppercase;
    color: #0b1c33;
    border: 5px solid transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: border 0.3s ease-in-out;
}

.dashboard .div-container button img {
    width: 95px;
    height: auto;
    margin-bottom: 15px;
}

.dashboard .div-container button:hover {
    border: 5px solid #00214d;
    transition: border 0.3s ease-in-out;
}

/* --- Dashboard Page --- */
/* --- Dashboard Table -- */
.div-table .div-container {
    padding: 10px 0;
}

.table-title {
    height: 70px;
    display: flex;
    align-items: center;
}

table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

table thead {
    background-color: #e3e7f2;
    text-transform: uppercase;
    color: #1a1a1a;
    font-weight: 700;
}

.table-title,
table thead tr th:first-child,
table tbody tr td:first-child {
    padding-left: 30px;
}

table thead tr th,
table tbody tr td {
    padding-right: 20px;
}

table thead tr th {
    align-items: center;
    justify-content: flex-start;
    height: 50px;
}

table tbody tr{
    border-bottom: 2px solid #d3d3d3;
    height: 60px;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

table tbody tr:last-child {
    border-bottom: none;
}

table button {
    display: inline-flex;
    align-items: center;
    padding: 5px 10px;
    margin: 0 15px 0 0;
    color: #0b1c33;
    border: none;
    background-color: #e3e7f2;
    cursor: pointer;
    font-size: 18px;
    border-radius: 7px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

table button:hover {
    background-color: #00214d;
    color: #fdfdfd;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

table button svg {
    margin-right: 5px;
}

table tbody tr:hover {
    background-color: rgba(153, 202, 255, 0.1);
    transition: background-color 0.2s ease-in-out;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* ----- Create Page ----- */
/* -------- Modal -------- */
.modal {
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-container,
.modal-container-report {
    height: auto;
    display: flex;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    margin: 15vh auto auto auto;
    position: relative;
}

.modal-container {
    padding: 30px;
    width: 600px;
}

.modal-container-report {
    max-width: 1200px;
    width: auto;
    height: auto;
}

.modal-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    color: #0b1c33;
    box-sizing: border-box;
    height: auto;
}

.btn-close svg {
    border-radius: 25px;
    width: 26px;
    height: 26px;
    padding: 3px;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.btn-close svg:hover {
    color: #fdfdfd;
    transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
    background-color: #007bff;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.modal-form .two-cols button {
    padding: 12px;
    margin-top: 15px;
}

.modal-logo {
    text-align: center;
    margin-bottom: 20px;
}

.modal-logo img{
    height: 50px;
    width: auto;
}

#reportsTable {
    display: none;
}

.modal-container-report .modal-top {
    margin: 0;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* ----- Create Page ----- */
/* --------- Form -------- */
.info-icon {
    width: 21px;
    height: 21px;
    display: flex;
    margin-left: auto;
    margin-right: 2px;
    align-items: center;
    cursor: pointer;
    color: #666;
}

.div-container .form-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 15px;
}

.form-header,
.form-section,
.div-section {
    padding: 30px;
}

.form-ncr-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-section {
    display: grid;
    grid-gap: 30px;
    box-sizing: border-box;
}

.form-section div {
    box-sizing: border-box;
}

.form-ncr {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.form-ncr-buttons {
    display: flex;
    gap: 30px;
}

.form-ncr-buttons button {
    padding: 12px 30px;
    width: 170px;
}

#fileSummary,
#fileNames {
    text-align: left;
}

.file-upload-details #fileSummary {
    margin-top: 15px;
    margin-bottom: 10px;
}

/*Added by Francis for Uploaded Images*/
/* CSS for the thumbnail container */
#thumbnailsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.file-item {
    width: 200px;
    text-align: center;
    margin-bottom: 10px;
    position: relative;
}

/* Thumbnail image styling */
.thumbnail {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

/* Styling for the delete button */
.delete-button {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1; /* Ensures it’s above other elements */
    pointer-events: auto;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* ----- Search Page ----- */
/* ---- Search Section --- */
.search-section {
    margin-bottom: 30px;
}

.search-section .three-cols {
    row-gap: 15px;
}

.search-section-button {
    display: flex;
    column-gap: 15px;
    margin-top: 35px;
    align-items: center;
}

.search-section-button button {
    padding: 12px 30px;
}

.search-table-title {
    display: grid;
    align-items: end;
}

.search-error-message {
    color: #991111;
    margin-left: 20px;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Default Branding Style */
/* -------- Form -------- */
.form-checkbox-container{
    display: flex;
    flex-direction: column;
}

.form-checkbox label {
    display: flex;
    width: 350px;
    border: 2px solid #d3d3d3;
    border-radius: 10px;
    cursor: pointer;
    padding: 15px 18px;
}

.form-checkbox input {
    opacity: 0;
}

.form-checkbox input:checked + label:before {
    content: '';
    width: 21px;
    height: 21px;
    color: #fdfdfd;
    border: 2px solid #d3d3d3;
    mask: url('data:image/svg+xml,<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3.5" d="M5 11.917 9.724 16.5 19 7.5"/></svg>') no-repeat center;
    mask-size: 32px 32px;
}

.form-checkbox input:checked + label {
    background-color: #00214d;
    color: #fdfdfd;
}

.form-checkbox input + label:before {
    content: '';
    position: relative;
    top: -1px;
    width: 21px;
    height: 21px;
    background-color: #fdfdfd;
    border: 2px solid #d3d3d3;
    border-radius: 4px;
    margin-right: 20px;
}

.form-checkbox input:focus + label:before,
.form-checkbox input:hover + label:before {
    border-color: #00214d;
}

.form-checkbox:focus-within label,
.form-checkbox:hover label {
    border: 2px solid #00214d;
    background-color: rgba(153, 202, 255, 0.1);
}

.file-upload {
    position: relative;
    width: 100%;
    height: 200px;
    border: 2px dashed #0b1c33;
    border-radius: 7px;
    background-color: rgba(153, 202, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #0b1c33;
}

.file-upload:hover,    
.file-upload:focus-within:hover {
    background-color: #00214d;
    color: #fdfdfd;
    transition: background-color 0.3s ease-in-out;
    border: 2px solid transparent;
}

.file-upload input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

.file-upload-details {
    text-align: center;
    pointer-events: none;
}

input,
select,
textarea {
    padding: 10px;
    border-radius: 7px;
    width: 100%;
    border: 2px solid #d3d3d3;
    display: block;
    font-size: 18px;
    box-sizing: border-box;
    font-family: "Instrument Sans", sans-serif;
    max-width: 100%;
}

.file-upload input:focus + .file-upload-details {
    outline: none;
}

.file-upload:focus-within {
    border: 2px solid #00214d;
    color: #00214d;
}

input:focus,
select:focus,
textarea:focus,
.form-checkbox input:focus + label {
    border: 2px solid #00214d;
    outline: none;
}

select {
    appearance: none;
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m19 9-7 7-7-7"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 18px;
}

select:focus {
    background-image: url('data:image/svg+xml;charset=UTF-8,<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"><path stroke="%23003d80" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="m19 9-7 7-7-7"/></svg>');
}

label {
    margin-bottom: 5px;
    margin-left: 5px;
    display: block;
}

.two-cols,
.three-cols,
.four-cols {
    display: grid;
    grid-gap: 30px;
}

.two-cols {
    grid-template-columns: 1fr 1fr;
}

.three-cols {
    grid-template-columns: 1fr 1fr 1fr;
}

.four-cols {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

button {
    font-family: "Instrument Sans", sans-serif;
    font-weight: 500;
}

.button-primary,
.button-secondary {
    border-radius: 8px;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.button-primary {
    color: #fdfdfd;
    background-color: #0b1c33;
}

.button-primary:hover,
.button-secondary:hover {
    background-color: #00214d;
    color: #fdfdfd;
}

.button-secondary {
    color: #0b1c33;
    background-color: #e3e7f2;
}


/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Breadcrumb styling */
.breadcrumb-container {
    position: relative;
    margin: 20px 0 0;
}

.breadcrumb-list span {
    padding: 0 5px;
}

.breadcrumb-list {
    list-style: none;
    display: flex;
    gap: 5px;
}

.breadcrumb-list li {
    display: inline;
}

.breadcrumb-list li a {
    text-decoration: none;
    color: #00214d; /* Primary theme color for links */
    padding: 5px;
    transition: box-shadow 0.3s, color 0.3s;
    box-shadow: inset 0 -3px 0 0 transparent;
}

.breadcrumb-list li a:hover {
    color: #0056b3; /* Hover color */
    box-shadow: inset 0 -3px 0 0 #0056b3;
}

.breadcrumb-list li:last-child::after {
    content: ''; /* No separator for the last breadcrumb */
}

.breadcrumb-list li:last-child {
    font-weight: bold;
    color: #0b1c33; /* Darker color for the current page */
}

.breadcrumb-list li:last-child a {
    color: #0b1c33; /* No link for the last breadcrumb */
    pointer-events: none;
    cursor: default;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* Breadcrumb styling */
.pagination-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.pagination-container button {
    margin: 0 5px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    color: #00214d;
    background-color: #e3e7f2;
    font-size: 18px;
    border-radius: 5px;
    border: none;
}

.pagination-container button.active {
    background-color: #00214d;
    color: #fdfdfd;
}

.pagination-container button:hover {
    background-color: #0056b3;
    color: #fdfdfd;
}

/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */
/* -------------------------------------------------------------- */

/* X-Small devices */
@media only screen and (max-width: 425px) {
    
    .form-ncr-buttons {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form-ncr-buttons div button {
        width: 100% !important;
    }
}

/* Small devices */
@media only screen and (max-width: 600px) {
    .header-col-left {
        width: 30%;
    }
    
    header .header-col-right {
        width: 70%;
    }

    header .logo img{
        width: 90%;
        height: auto;
    }

    .notification {
        position: relative;
    }

    .notif-dropdown-container {
        position: fixed;
        top: 60px;
        left: 5vw;
        width: 90vw;
        max-height: calc(100vh - 60px);
        overflow-y: auto;
    }

    main {
        padding: 0 10px 10px !important;
    }

    .dashboard {
        flex-direction: column;
    }

    .dashboard .div-container {
        height: 10rem;
    }

    .dashboard .div-container button {
        font-size: 16px;
    }

    .dashboard .div-container button img {
        width: auto;
        height: 30%;
    }

    .form-header, 
    .form-section, 
    .div-section {
        padding: 10px 10px 0;
    }

    .modal-container {
        width: 90%;
        padding: 15px;
    }

    .search-section .div-container .div-section .three-cols div:first-child {
        grid-column: span 1;
    }

    .three-cols,
    .four-cols {
        display: flex;
        flex-direction: column;
    }
}

/* Medium devices */
@media only screen and (max-width: 1000px) {
    header .header-col {
        width: 95%;
    }

    .user-details {
        display: none;
    }

    .mob-nav {
        display: flex;
    }

    .mob-nav-icon {
        margin: 0;
        padding: 0;
        cursor: pointer;
        position: relative;
        width: 50px;
        height: 50px;
        color: #00214d;
        background-image: url('data:image/svg+xml;utf8,<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>');
        background-size: cover;
    }

    .mob-nav-icon:checked {
        color: #0056b3;
        background-image: url('data:image/svg+xml;utf8,<svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24"><path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M5 7h14M5 12h14M5 17h14"/></svg>');
        background-size: cover;
    }

    #mainNav {
        display: none;
        position: absolute;
        top: 100%;
        left: 0;
        margin: 10px;
        width: 250px;
        height: auto;
        z-index: 9;
        background-color: #fdfdfd;
        box-shadow: 0 3px 8px -2px rgba(0, 0, 0, 0.3);
        border-radius: 10px;
        overflow: hidden;
    }

    nav ul,
    nav li {
        flex-direction: column;
        padding: 15px;
    }

    nav ul li a {
        justify-content: center;
        height: 100%;
        margin: 0;
        padding: 0;
        font-size: 18px;
    }
    
    nav ul li a:hover {
        color: #00214d; 
        box-shadow: none; 
        transition: color 0.3s ease-in-out;
    }

    nav ul li a.nav-active {
        box-shadow: none;
    }

    .container {
        width: 100%;
        padding: 0;
        box-sizing: border-box;
    }

    main {
        padding: 0 20px 20px;
    }

    .div-table .div-container,
    .modal-container-report {
        overflow-x: auto;
        overflow-y: hidden;
        scrollbar-color: #007bff #e3e7f2;
        position: relative;
    }
    
    table {
        width: 100%;
        table-layout: auto;
    }

    .table-title,
    .modal-container-report .modal-top,
    th:first-child,
    td:first-child {
        position: sticky;
        left: 0;
        z-index: 3;
    }

    th:first-child {
        background-color: #e3e7f2;
    }

    th:first-child,
    td:first-child {
        padding-left: 10px;
    }

    td:first-child {
        background-color: #fdfdfd;
    }

    th {
        position: sticky;
        top: 0;
        z-index: 2;
    }

    td {
        white-space: nowrap;
    }
    
    .form-ncr-buttons {
        gap: 10px;
    }

    .form-ncr-buttons div button {
        width: auto;
        padding: 10px 20px;
    }

    .form-header, 
    .form-section, 
    .div-section {
        padding: 20px;
    }

    .two-cols {
        grid-template-columns: auto;
    }

    .div-container .form-header,
    .four-cols {
        grid-template-columns: 1fr 1fr;
    }

    .form-checkbox label {
        width: auto;
        padding: 8px 10px;
        margin: 0;
    }

    .form-checkbox input + label:before {
        top: 0;
        margin-right: 10px;
    }

    .modal-form .two-cols {
        gap: 0;
    }

    .dashboard .div-container button {
        font-size: 18px;
    }

    .dashboard .div-container button img {
        width: 80px;
        height: auto;
    }

    .three-cols {
        grid-template-columns: 1fr 1fr;
    }

    .search-section .div-container .div-section .three-cols div:first-child {
        grid-column: span 2;
    }
}

/* Large devices */
@media screen and (max-width: 1440px) {
    body, 
    span,
    p {
        font-size: 16px;
    }

    .header-col {
        width: 95%;
    }

    .header-col-left {
        width: 70%;
    }

    nav ul li a {
        padding: 5px 10px 5px;
    }

    .profile,
    .notification {
        margin-left: 0.5rem;
    }

    main {
        padding: 0 50px 20px;
    }

    .container {
        width: 100%;
        padding: 0;
        margin: 0;
    }

}


/*Profile/Settings Page*/

/* Main Profile Section Container */
#Profile, #settings {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    margin: 50px auto;
    padding: 20px 300px;
    background-color: #fdfdfd;
    border-radius: 10px;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid #e3e7f2; /* Matches the NCR table styling */
}

#Profile h1 {
    font-size: 24px;
    color: #0b1c33;
    margin-bottom: 20px;
    font-family: "Instrument Sans", sans-serif;
}

/* Profile Content Wrapper */
.profile-content {
    display: flex;
    align-items: center;
    gap: 20px;
    flex-direction: column; /* Stacks the picture and text on smaller screens */
}

/* Profile Picture Container */
.profile-picture-container , .settings-container{
    position: relative;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-picture-container img {
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00214d;;
}


/* Edit Icon */
.edit-icon {
    position: absolute;
    bottom: 5px;
    right: 5px;
    font-size: 1.2rem;
    color: #0056b3;
    cursor: pointer;
    background-color: #fdfdfd;
    border-radius: 50%;
    padding: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#saveButton, #editButton, #cancelButton{
    display: inline-flex;
    padding: 12px 30px;
}
#roleMessage{
    display: none;
    color: #991111;
}

.user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.info-block {
    text-align: center;
    line-height: 1.6; /* Adjust spacing between label and value */
    margin-bottom: 10px;
}

.profileHeadings {
    display: block; /* Ensures 'Name :' and 'Role :' appear above the values */
    font-weight: bold;
}

.user-fullname,
.user-role {
    display: block; /* Ensures values appear below the labels */
}

.buttons {
    display: flex;
    gap: 30px;
}

.buttons button {
    padding: 12px 30px;
    width: 170px;
    text-align: center;
}


/*Toggl switch for profile-settings page*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }